<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/ShoppingLogo.png">
    <title>RK Shopping</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <div class="login" id="logins">

        <div class="form" id="form">
            <div class="heading">
                <h3>Add on member</h3>
                <h4 id="error"></h4>
                <div class="log">
                    <p id="clear">X</p>
                </div>
            </div>
            <div class="input">
                <form id="loginForm" action="/auth/register" method="post">
                    <label for="">Username</label>
                    <input type="text" id="name" name="name">
                    <label for="">email</label>
                    <input type="email" id="email" name="email">
                    <label for="">Password</label>
                    <input type="password" id="password" name="password">
                    <label for="">Confirm password</label>
                    <input type="password" id="cpassword">
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>

    <nav>
        <div class="title">
            <span><img src="/images/ShoppingLogo.png" width="40px" height="40px" alt=""></span>
            <h1>RK SHOPPING</h1>
        </div>

        <div class="links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CONATCT</a></li>
                <li><a id="login">REGISTER</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="img"><img src="https://m.media-amazon.com/images/I/71c0GSxtEEL._AC_UL320_.jpg" alt="">
                        <h4>ASUS Vivobook 15</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Illum.
                        </p>
                        <button>Add Card</button>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <script src="/js/index.js" defer=""></script>
</body>

</html>